# DJANGO SETTINGS
SECRET_KEY=django-insecure-h3y=dr4aic$ts$)z6_ngy%8!dkhd*n05l*wb1nwn+2ml&ep8qv
DEBUG=True
ALLOWED_HOSTS=*
LANGUAGE_CODE=pt-br
TIME_ZONE=America/Fortaleza

# INTEGRATION WITH GEMINI API
GEMINI_API_KEY=api-key
GEMINI_MODEL=gemini-1.5-flash

# INTEGRATION WITH EVOLUTION API
EVOLUTION_API_BASE_URL=http://localhost:8080/
EVOLUTION_API_TOKEN=api-token
MY_NUMBER=55*********
INSTANCE_NAME=test
INSTANCE_TOKEN=instance-token

# EMAIL
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_HOST_USER=example@test.com
EMAIL_HOST_PASSWORD=@Test01020202010
MY_EMAIL=myemail@test.com

# DATABASE
POSTGRES_DB=mydatabase
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
DATABASE_URL=postgres://postgres:postgres@localhost:5432/mydatabase